<polymer-element name="order-items" attributes="size">
    <template>
        <div style="border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #afccce; color: #555;">
            <div style="display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #E86850; border: 2px dashed #bebebe; line-height: 64px; font-size: 30px; color: #666; text-align: center;">1</div>
            <div style="font-size: 22px; padding: 8px 0 16px; color: #888;">CHAD</div>
            <div style="font-size: 16px; padding-bottom: 8px;">order</div>
            <div style="font-size: 12px;">Note:</div>
            <div style="font-size: 12px;">Vegan</div>    
        </div>
        <div style="border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #afccce; color: #555;">
            <div style="display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #E86850; border: 2px dashed #bebebe; line-height: 64px; font-size: 30px; color: #666; text-align: center;">2</div>
            <div style="font-size: 22px; padding: 8px 0 16px; color: #888;">SASHA</div>
            <div style="font-size: 16px; padding-bottom: 8px;">order</div>
            <div style="font-size: 12px;">Note:</div>
            <div style="font-size: 12px;">Side of Hot Sauce.</div>
        </div>
        <div style="border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #afccce; color: #555;">
            <div style="display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #E86850; border: 2px dashed #bebebe; line-height: 64px; font-size: 30px; color: #666; text-align: center;">3</div>
            <div style="font-size: 22px; padding: 8px 0 16px; color: #888;">DON</div>
            <div style="font-size: 16px; padding-bottom: 8px;">order</div>
            <div style="font-size: 12px;">Note:</div>
            <div style="font-size: 12px;">No rice!</div>
        </div>
        <div style="border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #afccce; color: #555;">
            <div style="display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #E86850; border: 2px dashed #bebebe; line-height: 64px; font-size: 30px; color: #666; text-align: center;">4</div>
            <div style="font-size: 22px; padding: 8px 0 16px; color: #888;">KARL</div>
            <div style="font-size: 16px; padding-bottom: 8px;">order</div>
            <div style="font-size: 12px;">Note:</div>
            <div style="font-size: 12px;">**Tree Nut allergy</div>
        </div>
        <div style="border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #afccce; color: #555;">
            <div style="display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #E86850; border: 2px dashed #bebebe; line-height: 64px; font-size: 30px; color: #666; text-align: center;">5</div>
            <div style="font-size: 22px; padding: 8px 0 16px; color: #888;">KATIE</div>
            <div style="font-size: 16px; padding-bottom: 8px;">order</div>
            <div style="font-size: 12px;">Note:</div>
            <div style="font-size: 12px;">Thanks Karl!</div>
        </div>
        <div style="border: 1px solid #bebebe; padding: 16px; margin: 16px; border-radius: 5px; background-color: #afccce; color: #555;">
            <div style="display: inline-block; height: 64px; width: 64px; border-radius: 50%; background: #E86850; border: 2px dashed #bebebe; line-height: 64px; font-size: 30px; color: #666; text-align: center;">6</div>
            <div style="font-size: 22px; padding: 8px 0 16px; color: #888;">WILL</div>
            <div style="font-size: 16px; padding-bottom: 8px;">order</div>
            <div style="font-size: 12px;">Note:</div>
            <div style="font-size: 12px;">Bag of chips if they have it.</div>
        </div>

    </template>
    <script>
        Polymer({
        });
    </script>
</polymer-element>
